<div class="recipeDetail">
  <img src="{{ recipe.imagePath }}" alt="">
  <div>
      <h1>{{ recipe.name }}</h1>
    </div>
    <div class="dropdown-wrapper">
      <button (click)="toggleDropdown()">Manage <i class="arrow"></i></button>
      <ul class="dropdown" [ngClass]="{visible: dropdownVisible}">
        <a (click)="sendIngredients()">To Shopping List</a>
        <a [routerLink]="['edit']">Edit Recipe</a>
        <a (click)="onDeleteRecipe()">Delete Recipe</a>
      </ul>
    </div>
  <div class="description">
    {{ recipe.description }}
  </div>  
  <div class="ingredient" *ngFor="let ingredient of recipe.ingredients">
    {{ingredient.name}}: ({{ ingredient.amount }}) <span (click)="onSendIngredient(ingredient)" class="shopping-icon"><fa-icon [icon]="faCartPlus "></fa-icon></span>
  </div>  
</div>

