<div class="recipeDetail">
  <img [src]="(recipeState | async).recipes[id].imagePath" alt="">
  <div>
      <h1>{{ (recipeState | async).recipes[id].name }}</h1>
    </div>
    <div class="dropdown-wrapper">
      <button (click)="toggleDropdown()">Manage <i class="arrow"></i></button>
      <ul class="dropdown" [ngClass]="{visible: dropdownVisible}">
        <a (click)="sendIngredients()">To Shopping List</a>
        <a [routerLink]="['edit']">Edit Recipe</a>
        <a (click)="onDeleteRecipe()">Delete Recipe</a>
      </ul>
    </div>
  <div class="description">
    {{ (recipeState | async).recipes[id].description }}
  </div>  
  <div class ="Ingredients" *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
    {{ingredient.name}}: ({{ ingredient.amount }})
  </div>  
</div>

