label {
    font-style: italic;
}

input{
    display: block;
    width: 90%;
    border-radius: 7px;
    border: 1px solid rgb(88, 87, 87);
    padding: 0.6rem;
    outline: none;
}

.inputs {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 1rem;
}

.button-group {
    margin: 1rem;

    button {
        margin-right: 0.6rem;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 600;
        outline: none;
        border-radius: 5px;
    }

    .add {
        background: rgb(85, 146, 85)
    }

    .add[disabled] {
        background: rgb(139, 177, 139);
        cursor: not-allowed
    }

    .delete {
        background: rgb(180, 34, 34)
    }

    .clear {
        background: rgb(189, 133, 30)
    }

    .clear[disabled] {
        background: rgb(201, 163, 93);
        cursor: not-allowed
    }
}
