a {
    color: black;
    text-decoration: none;    
}



.recipeText {
    display: inline-block;
    word-wrap:break-word; 
}

img {
    max-width: 100px;
}

.recipe {
    margin-top: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe:hover {
    background: rgb(231, 227, 227)
}

.active {
    background: rgb(231, 227, 227)
}