button {
	border: none;
	border-radius: 10px;
	background: rgb(128, 123, 123);
	outline: none;
	padding: 0.8rem;
	color: white;
	cursor: pointer;
}

.error-msg {
	text-align: center;
	padding: 1rem;
	background: rgba(228, 0, 0, 0.5);
}
